*.iml
/*.ids
/*.ipr
/*.iws
/*/*.iml
/Gemfile.lock
/_buildr.rb
/generated
/reports
/target
/tmp
/.classpath
/.project
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/.settings/org.eclipse.wst.common.component
/.settings/org.eclipse.wst.common.project.facet.core.xml
